@import "tailwindcss";
@import "@heroui/styles";

.card-bg {
    background: rgba(35, 35, 35, 0.100);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.bg-gradient-to-tr-dark {
    background-image: linear-gradient(to bottom right, #424242, #151518);
}
